body {
    font-family: 'Space Mono', monospace;
  margin: 0;
  background: #d2c0af;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

  a:link{
      color:white;
      text-decoration: none;
  }

  a:hover{
      color:white;
  }

  a:visited{
      color:white;
  }

  h1 {
    color: white;
    font-size:5rem;
    width: 80%;
    padding:0rem;
    margin: 0 auto;
    text-align: left;
    max-width: 100%;
    Justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
  z-index:3;
  }

  

  h2 {
    color: white;
    font-size:1rem;
    width: 40%;
    padding:0rem;
    margin: 0 auto;
    text-align: left;
    max-width: 100%;
    Justify-content: center;
    margin-top: 1%;
    margin-left: 5%;
    z-index: 3;
  }

  h3 {
    color: white;
    font-size:2rem;
    width: 40%;
    border: solid white;
    padding:0rem;
    margin: 0 auto;
    text-align:center;
    max-width: 100%;
    Justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    z-index: 3;
    }

    h3:hover{
    font-size:3rem;
    }

   

  .shapes{
      display: flex;
      flex-direction:column;
      justify-content: right;
      justify-items: right;
      z-index:1;
      justify-content: center;
  align-items: center;
  text-align:center;
  }

  .shape1{
    position:absolute;
    right:0;
    top:10%;
    margin-bottom:1%;
    z-index: 1;
    max-width:100%;
    text-align:center;
  }
  
  .shape1:hover svg path {
    fill: white;
    transition: all .25s;
  }
  
    .shape2{
      position:absolute;
      right:0;
      top:40%;
      margin-bottom:1%;
      z-index: -1;
      max-width:100%;
      text-align:center;
    }
  
    .shape2:hover svg path {
      fill: white;
      transition: all .25s;
    }
  
    .shape3{
      position:absolute;
      right:0;
      top:70%;
      margin-bottom:1%;
        z-index: -1;
        max-width:100%;
    }
  
    .shape3:hover svg path {
      fill: white;
      transition: all .25s;
    }
  
    .shape4{
      position:absolute;
      right:0;
      top:100%;
      margin-bottom:1%;
        z-index: -1;
        max-width:100%;
    }
  
    .shape4:hover svg path {
      fill: white;
      transition: all .25s;
    }
  
    .shape5{
      position:absolute;
      right:0;
      top:130%;
      margin-bottom:1%;
        z-index: -1;
        max-width:100%;
    }
  
    .shape5:hover svg path {
      fill: white;
      transition: all .25s;
    }
    

 

  /*.punctuation{
    display: flex;
      flex-direction:column;
      justify-content: right;
      justify-items: right;
      z-index:2;
      color: white;
    font-size:7rem;
  }*/




@media only screen and (max-width:48rem) {

  body{
    background:#d2c0af;
    flex-direction: column;
    justify-content: center;
  
  }

  .shape1 {
    position: relative;
  }

  .shape2 {
    position: relative;
  }

  .shape3 {
    position: relative;
  }

  .shape4 {
    position: relative;
  }

  .shape5 {
    position: relative;
  }


  
 .shape1 svg {
   width: 100%;
  }

  .shape2 svg {
    width: 100%;
   }

   .shape3 svg {
    width: 100%;
   }

   .shap4 svg {
    width: 100%;
   }
   .shape5 svg {
    width: 100%;
   }

  

    h1 {
        font-size:3.7rem;
        text-align: center;
        color:white;
        max-width:100%;
    }

    h2{
      width: 90%;
      max-width:100%;
    }
    
}